
/* ::::::::::::: PALETA DE COLORES ::::::::::::: */

:root {
    --primary-nutreo: #FF670A;
    --secondary-nutreo: #FFF6EC;
    --alternate-nutreo: #FF4D00;
    --carbon-36-nutreo: #363636;
    --carbon-80-nutreo: #808080;
    --alerta-popup: #2196f3;
}

/* ::::::::::::::::::::::::::::::::::::::::::::: */


h1 {
    margin: 0px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--carbon-36-nutreo);
    z-index: 1000;
    display: flex;
    align-items: center;
}

#output {
    padding-top: 80px;
}

#navbar > .nav-bar-search-group {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: 32px;
    width: 200px;
}

.nav-bar-search-group > #filterName {
    width: 180px;
    color: var(--carbon-80-nutreo);
}

.hidden {
    display: none;
}

.section {
    margin-top: 40px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-logo-nutreo {
    margin: 24px;
}

.card {
    background-color: var(--secondary-nutreo);
    border-radius: 15px;
    width: 800px;
    margin: auto;
    color: var(--carbon-36-nutreo)
}

.card-header {
    background-color: var(--primary-nutreo);
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 32px;
    display: flex;
    justify-content: center;
    border-radius: 12px 12px 0px 0px;
}

.card-body {
    padding: 32px;
}

.sub-card {
    background-color: white;
    border-left: 4px solid var(--alternate-nutreo);
    padding: 16px 32px;
}

.sub-card-section {
    border-top: 1px dotted var(--carbon-80-nutreo);
}

.card-footer {
    font-size: 10px;
    color: var(var(--carbon-36-nutreo));
    border-top: 1px dashed black;
    padding: 16px;
}

.card-footer ul {
    padding-left: 0px;
}

.card-footer ul li {
    list-style-type: none;
    margin: 16px 8px;
}

  #alert-container {
    position: fixed;
    top: 80px;
    left: 80px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .alert {
    background-color: var(--alerta-popup);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    opacity: 1;
    transition: opacity 1s ease-out;
    max-width: 300px;
    font-family: sans-serif;
  }

  .alert.fade-out {
    opacity: 0;
  }
  